.rv-xy-plot {
    margin-top: 50px;
}

h4 {
    font-size: 25px;
    margin-bottom: 0;
}

.currency_group input {
    margin: 0 10px;
}

.currency_group button {
    background: #ddd1c7;
    border-radius: 3px;
    border: 1px solid transparent;
}

.total {
    color: #836c59;
    
}