.title {
  font-size: 30px;
  text-align: center;
  color: #5c412b;
  margin-top: 80px;

}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}